body {
    &.login {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #EFEFF0;

        header {
            #mobile-panel {
                background-color: none;
                height: unset;
                position: relative;

                @include breakpointMax('l') {
                    display: block;
                }

                .navigation__languages {
                    background-color: white;

                    .languages.menu {
                        grid-gap: 0;
                        gap: 0;
                    }
                }
            }
        }

        main {
            margin-top: 32px;
            margin-bottom: 32px;

            .grid {
                margin: 0;
            }

            #loginform {
                display: flex;
                flex-direction: column;
                grid-gap: 16px;
                gap: 16px;

                input {
                    &[type="text"], &[type="password"] {

                    }
                }

                .hds-checkbox {
                    input {
                        &:checked {
                            + label {
                                &:after {
                                    background-color: $black;
                                    border-color: $black;
                                }
                            }
                        }
                    }
                }
            }

            img {
                &.decoration {
                    margin-top: spacing('4-xl');
                }
            }

            .login-additional-info {
                display: flex;
                flex-direction: column;

                * {
                    margin-bottom: spacing('s');

                    &:first-child {
                        margin-top: spacing('4-xl');
                    }
                }
            }

            .notifications {

                .notification {

                    &.hds-notification {

                        &--error {
                            background-color: var(--color-error-light);
                        }

                        &--success {
                            background-color: var(--color-success-light);
                        }

                        .label-inner {
                            -webkit-transform: translateY(spacing('4-xs'));
                            transform: translateY(spacing('4-xs'));
                        }

                        .hds-icon {
                            transform: none;
                            background-color: transparent;

                            svg {
                                fill: var(--notification-icon-color);

                                &.mask-icon {
                                    background-color: var(--notification-icon-color);
                                }
                            }
                        }
                    }
                }
            }
        }

        footer {
            .hds-koros {
                background-color: #EFEFF0;
            }

            .footer__bottom {
                padding-top: 0;
                padding-bottom: 0;
                margin-top: spacing('s');
                margin-bottom: spacing('l');
            }
        }
    }
}
