body {
    &.login {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #EFEFF0;

        main {

            margin-top: 32px;
            margin-bottom: 32px;

            #loginform {
                display: flex;
                flex-direction: column;
                grid-gap: 16px;
                gap: 16px;
            }

        }
    }
}
